{% extends 'layouts/base.html' %}



{% block content %}
<div class="row mt-2">
    <div class="card col-4 py-2 m-2">
        <div class="card-header">
            Projects
          </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> <a href="{% url 'projects:category_list' %}">Categories</a> </li>
          <li class="list-group-item"> <a href="{% url 'projects:project_list' %}">Projects</a> </li>
          <li class="list-group-item"> <a href="{% url 'projects:task_list' %}">Tasks</a> </li>
          <li class="list-group-item"> <a href="{% url 'projects:cpmreport_list' %}">CPM Reports</a> </li>
        </ul>
      </div>
</div>



{% endblock content %}