{% extends "base.html" %}
{% load core %}


{% block content %}
<div class="row py-2">
    <div class="col-12">
        <form method="post" enctype='multipart/form-data' novalidate>{% csrf_token %}
            <div class="card m-2 py-2">
              <div class="card-body">
                {{form.errors}}
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Info</button>
                  </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="info" role="tabpanel" aria-labelledby="info-tab" tabindex="0">
                        <div class="row">
                            <div class="col-12">
                              <div class="form-group">
                                {{ form.project.label_tag }}
                                {{form.project}}
                                {% if form.project.errors %}
                                <div class="invalid-feedback">
                                  {{form.project.errors}}
                                </div>
                                {%endif%}
                                {% if form.project.help_text %}
                                  <small class="form-text text-muted">{{ form.project.help_text }}</small>
                                {% endif %}
                              </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              {{ form.name.label_tag }}
                              {{form.name}}
                              {% if form.name.errors %}
                              <div class="invalid-feedback">
                                {{form.name.errors}}
                              </div>
                              {%endif%}
                              {% if form.name.help_text %}
                                <small class="form-text text-muted">{{ form.name.help_text }}</small>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              {{ form.budget.label_tag }}
                              {{form.budget}}
                              {% if form.budget.errors %}
                              <div class="invalid-feedback">
                                {{form.budget.errors}}
                              </div>
                              {%endif%}
                              {% if form.budget.help_text %}
                                <small class="form-text text-muted">{{ form.budget.help_text }}</small>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              {{ form.start_date.label_tag }}
                              {{form.start_date}}
                              {% if form.start_date.errors %}
                              <div class="invalid-feedback">
                                {{form.start_date.errors}}
                              </div>
                              {%endif%}
                              {% if form.start_date.help_text %}
                                <small class="form-text text-muted">{{ form.start_date.help_text }}</small>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              {{ form.end_date.label_tag }}
                              {{form.end_date}}
                              {% if form.end_date.errors %}
                              <div class="invalid-feedback">
                                {{form.end_date.errors}}
                              </div>
                              {%endif%}
                              {% if form.end_date.help_text %}
                                <small class="form-text text-muted">{{ form.end_date.help_text }}</small>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                        {% include 'partials/formset.html' with formset=formsets.0 %}
                    </div> <!-- info -->

                {% include 'partials/form_buttons.html' with form=form %}
              </div>
            </div>
            
          </form>

    </div>


</div>




{% endblock %}


{% block scripts %}
<script>
  'use strict';
  (function(w,d,$){
    $(d).ready(function(){

      $("#id_project").select2({
        ajax: {
          url: '/projects/get_sb_projects_data/',
          data: function (params) {
            var query = {
              search: params.term,
              type: 'public'
            }
            // Query parameters will be ?search=[term]&type=public
            return query;
          }
        }
      });
    }) /* document ready */
  })(window,document,jQuery)
</script>
{% endblock scripts %}