{% load core %}
<div class="row py-2">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Project</th>
                <th>Created</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in object_list %}
              <tr>
                <td><a href="{% url 'projects:cpmreport-detail' obj.pk %}">{{obj}}</a></td>
                <td>{{obj.project}}</td>
                <td>{{obj.created|date:"d/m/Y"}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% include 'pagination.html' %}