{% load core %}
<div class="row py-2">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Parent</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for obj in object_list %}
              <tr>
                <td><a href="{% url 'projects:project-view' obj.id %}">{{obj}}</a></td>
                <td>{{obj.category}}</td>
                <td>{{obj.parent|default_if_none:"---"}}</td>
                <td>
                  {% include 'partials/action_buttons.html' with obj=obj %}
                  <a href="{% url 'projects:cpmreport-list' %}?project={{obj.pk}}">Cpm reports</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% include 'pagination.html' %}